* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Heading content */
.content {
    text-align: center;
    width: 800px;

}

.content h1 {
    text-shadow: -1px 1px 1px #FFF,1px -1px 1px #FFF,1px 1px 1px #FFF;
}

/* btn */
.content .btn {
    margin-top: 30px;
    border: none;
    display: inline-block;
    padding: 10px 40px;
    background: rgb(0, 76, 255);
    border-radius: 5px;
    font-size: 18px;
    color: #FFF;
    box-shadow: 0px 0px 4px #efefef;
    transition: .5s;
}

.content .btn:hover {
    background: #FFF;
    color: black;
    cursor: pointer;
}

/* Input */
.content .show {
    text-align: center;
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .show input {
    padding: 8px;
    padding-left: 28px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 4px #706f6f;
}

.content .show .hexcolor .hex-level {
    margin-bottom: 10px;
}

.content .show .hexcolor .hex-level label,
.content .show .rabcolor .rgb-level label {
    color: #000;
    text-shadow: -1px 1px 1px #FFF,1px -1px 1px #FFF,1px 1px 1px #FFF;
    font-size: 22px;
    font-weight: bold;
}

.content .show .rabcolor .rgb-level {
    margin: 10px 0;
}

.content .show .hexcolor .hex-flex {
    display: flex;
    justify-content: center;
    position: relative;
}

.content .show .hexcolor .hex-flex h4 {
    background: rgb(173, 173, 173);
    padding: 7.5px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.content .show .rabcolor .rgb-flex {
    position: relative;
}

.content .show .rabcolor .rgb-flex .rgb-icon {
    position: absolute;
    background: #adadad;
    left: 0;
    top: 0.5px;
    padding: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.content .show .rabcolor .rgb-flex #rgb {
    padding-left: 45px;
}


/* copy btn */
.content .show button {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 20px;
    background: #FFF;
    color: black;
    font-size: 14px;
    box-shadow: 0px 0px 4px #efefef;
    transition: .5s;
}

.content .show button:hover {
    background: rgb(1, 60, 255);
    color: #FFF;
    cursor: pointer;
}

/* copied text css */
.content .show p {
    position: absolute;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
    top: 35px;
    z-index: 99;
    right: 12px;
}

.show-display-copied {
    animation: display 3s ease-in-out;
}

@keyframes display {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.popup {
    position: fixed;
    z-index: 99;
    top: 30px;
    right: 40px;
    width: 190px;
    padding: 10px;
    border-radius: 5px;
    background: black;
    color: white;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 0px 8px #efefef;
}

.slide-in-box {
    animation: slide-in 4s ease-in-out;
}

@keyframes slide-in {
    0%{
        transform: translateX(250px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(250px);
    }
}
